/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Roboto", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.backgroundbody{
    margin-bottom: 0px;
    padding: 0px;
    background: url(gambar2.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
}
.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px;
    transform: translate(-50%, -50%);
}
h1{
    margin-top: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}
.login-box p{
    margin-bottom: 0px;
    padding: 0px;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    background: #1c8adb;
}
.login-box input[type="submit"]:hover{
    cursor: pointer;
    background: #E33d56;
    color: #fff;
}
.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover{
    color: #E33d56;
}


a {
    color: black;
    text-decoration: none;
    margin: 0 30px;
  }
  
  /* Navigasi */
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 10px 0;
  }
  
  .nav-txt a {
    font-size: 16px;
    transition: 0.3s;
  }
  
  .nav-txt a:hover {
    color: darkgoldenrod;
  }
  
  .nav-active {
    font-weight: bold;
    color: darkgoldenrod;
  }
  
  .nav-profile a:hover {
    transition: 0.3s;
  }
  
  /* End of Navigasi */
  
  /* Hero */
  .hero {
    height: 400px;
    background-image: url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  
    display: flex;
    align-items: center;
  }
  
  .hero h1 {
    font-size: 45px;
  }
  
  .hero-txt {
    width: 650px;
    margin-left: 50px;
  }
  
  .hero-txt h1 {
    font-family: "Rubik", sans-serif;
  }
  /* End of Hero */
  

.text-bold{
    font-weight: bold;
}

.text-3{
    font-size: 30px;
}
.content{
    margin-top: 30px;
    padding-left: 12.5% ;
    padding-right: 20%;
    font-family: 'Roboto','sans-serif';
}

.course-content{
    display: flex;
    flex-direction: column;
}

.course-item{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.course-image{
    max-height: 150px;
    filter: saturate(1.5);
    margin-right: 5%;
}

.course-title{
    margin-bottom: 10px;
}

.course-date{
    margin-bottom: 15px;
}

.course-details{
    padding-right: 25%;
    line-height: 24px;
}

.footer{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    padding-top: 10px;
    background-color: #111111;
    color: blanchedalmond;
    font-family: 'Roboto','sans-serif';
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

.title{
    font-size: 50px;
}

